body {
    margin: 0;
}

article {
    color: white;
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    margin: auto;
    padding: 175px 370px;
}

section {
    background-image: url(images/image1.jpg);
    min-height: 400px;
    background-position: center;
    background-size: 1080px;
    position: relative;
}