* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 12px/1.3 "Lato", sans-serif;
    font-weight: bold;
    background: #eee;
    display: flex;
}

.container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: white;
    margin: 10em auto;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

input {
    padding: 1ch 6ch;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    outline: none;
    margin: 0.3em 0;
}

input:focus {
    border-color: green;
}

h2 {
    margin-bottom: -15px;
}

h2::after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background: #eee;
    margin: 15px 0;
}

label::after {
    content: "*";
    color: red;
    padding-left: 5px;
    font-size: large;
}

button {
    background: #fea500;
    padding: 1.8ch 15.2ch;
    margin: 1em 0;
    margin-top: 1.5em;
    border-radius: 0.3em;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

