.fixed {
    height: 200px;
    
}

.percentage {
    height: 50%;
}

.viewport {
    height: 50vw;
}

.min-max {
    min-height: 100px;
    max-height: 300px;
}

div {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}