.flex-container {
    border: 2px solid blue;
    width: 300px;
    padding: 1em;
    display: flex;
    align-items: flex-start;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
    flex-basis: 300px;
}

.flex-shrink-one .flex-item {
    flex-shrink: 1;
}
.flex-shrink-zero .flex-item{
    flex-shrink: 0;
}
.flex-shrink-2nd-only .flex-item:nth-child(2){
    flex-shrink: 1;
}
.flex-shrink-2nd-only .flex-item:nth-child(1){
    flex-shrink: 0;
}
.flex-shrink-2nd-only .flex-item:nth-child(3){
    flex-shrink: 0;
}