* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(199, 197, 197);
}

.container {
    padding: 20px;
    
}

.layout {
    display: flex;
    align-items: stretch;
    margin: 30px;
}

.item {
    display: flex;
    min-width: 300px;
    min-height: 400px;
    padding: 10px;
    align-items:center;
}


img {
    max-width: auto;
    max-height: 200px;
    margin: auto;
    border-radius: 0.2em;
    object-fit: cover;
}


.container .layout {
    border: 1px solid rgb(199, 197, 197);
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
}

.item {
    display: flex;
    flex: 0 0 30%;
    background-color: white;
    border: 5px solid rgb(53, 52, 52);
    border-radius: 0.2em;
}

