* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(199, 197, 197);
    min-height: 100vh;
}

.container {
    width: 100%;
}

.layout {
    display: flex;
    margin: 30px;
    gap: 2em;
}


figure {
    border: 5px solid black;
    padding: 1em;
    align-content: center;
    flex-direction: column;
}

img {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
}

@media (min-width: 610px) {
    .layout {
        display: block;
    }
}
@media (min-width: 300px) {
    .container {

        display: flex;
    }
    .layout {
        flex: 1 1 33%;

    }
}