.flex-container {
    border: 2px solid blue;
    max-width: 388px;
    padding: 1em;
    display: flex;
}

.flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

.justify-content-flex-start {
    justify-content: flex-start;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}