* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 12px/1.3 "Lato", sans-serif;
    font-weight: bold;
    background: #eee;
    display: flex;
}

.container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: white;
    margin: 10em auto;
    padding: 3em;
    border-radius: 0.3em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.field {
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: -15px;
    opacity: 0.6;
    font-style: italic;
    font-size: 11px;
}

input {
    flex: 1 1 100%;
    padding: 2ch 0;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    outline: none;
    margin: 0.3em 0;
}

#btn {
    padding: 2ch 0;
    background: darkorange;
    margin-top: 2em;
    border-radius: 0.3em;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

input:focus {
    border-color: green;
}

h2 {
    margin-bottom: -15px;
}

h2::after {
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background: #eee;
    margin: 15px 0;
}

label::after {
    content: "*";
    color: red;
    padding-left: 5px;
    font-size: large;
}

.field {
    position: relative;
}

.fa-envelope,
.fa-key {
    position: absolute;
    top: 17px;
    font-size: 16px;
    right: 0;
}

label {
    margin-top: 15px;
    margin-bottom: -20px;
}