@media screen and (max-width: 600px) {
    .home-container {
        min-height: unset;
        min-width: 100vh;
    }

    .home-cta-container {
        flex: 1 0 30%;
    }

    .home-navbar-container {
        flex: 1 1 10%;
    }

    .home-features {
        flex: 1 1 30%;
    }

    .home-links-container {
        padding-left: 50px;
    }

    .home-navbar {
        justify-content: center;
    }

    .home-navbar {
        gap: 3em;
    }

    .home-cta-btn {
        padding: 10px 15px;
        font-size: small;
        margin-right: 20px;
    }

    .home-heading-container {
        width: 90%;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-feature-card {
        width: 100%;
    }

    .home-feature-card1,
    .home-feature-card2 {
        width: 100%;
    }

    .home-stats {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1 1 30%;
    }

    .home-hero {
        flex: 1 1 30%;
    }

    .home-hero {
        flex-direction: column;
        align-items: center;
    }

    .home-hero-text-container {
        width: 100%;
        align-items: center;
        margin: 10px;
        order: 1;
    }

    .home-image1 {
        width: 100%;
        object-fit: cover;
        order: 0;
    }

    .home-cta-btn2 {
        padding: 16px 20px;
        align-self: center;
    }
}