* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(199, 197, 197);
}

.site {
    padding: 20px;
    display: flex;
    max-width: 1000px;
    height: 400px;
    margin: auto;
    gap: 2em;
}

.site main article {
    display: flex;
    gap: 2em;
}

.site>main {
    flex: 0 0 70%;
}

.site>aside {
    flex: 1 1 auto;
    display: flex;
}

article {
    width: 100%;
    background: white;
    padding: 2em;
}

article+article {
    margin-top: 2em;
}

article .media {
    flex: 0 0 30%;
    display: flex;
    padding: 15px;
}

aside article {
    padding-bottom: 1em;
}

aside .avatar {
    min-height: 4em;
}

article .avatar {
    height: 100%;
    aspect-ratio: 1/1;
    background: rgb(66, 228, 66);
    border-radius: 50%;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border: 0.2em solid white;
    overflow: hidden;
}

article p{
padding-bottom: 10em;
}