.flex-container {
    border: 2px solid blue;
    max-width: 400px;
    padding: 1em;
    display: flex;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}