div {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
    max-height: 100px;
}

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}